ul li{
    list-style:none;
    /* text-decoration: line-through; */
}
input{
    border:none;
    outline:none;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3{
    text-align: center;
}
div{
    position:relative;
    left: 50%;
    transform: translate(-50%);
}