*{
    /* 重置是为了针对不同的浏览器样式没有差别 */
    margin: 0;
    /* 浏览器默认会有margin，所以需要重置一下，不同浏览器不同 */
    padding: 0;

    outline: 0;   /*input a 聚焦或高亮时用*/
    /* box-sizing: border-box; 盒子模型方式切换 */
    /* 盒子大小的计算方式   总共就是100*100 */
}